# Alpha-Werte möglich: #RRGGBBAA
Channel_1 =  #3498DB
Channel_2 =  #76D7C4
Channel_3 =  #2196F3
Channel_4 =  #2196F3
Channel_5 =  #2196F3
Channel_6 =  #2196F3
Channel_7 =  #2196F3
Channel_8 =  #2196F3
Channel_9 =  #2196F3
Channel_10 = #2196F3
Channel_11 = #2196F3
Channel_12 = #2196F3
Channel_13 = #2196F3
Channel_14 = #2196F3
Channel_15 = #2196F3
Channel_16 = #2196F3

# Wird keine Hintergrundfarbe festgelegt ist der Standardwert #2C2C2C. Die Hintergrundfarbe wird nur angezeigt, falls kein Hintergrundbild gefunden wird.
BACKGROUND_COLOR = #2C2C2C

# Anzahl MIDI-Ticks, die als ein Pixel dargestellt werden. Je größer der Wert, desto langsamer bewegen sich die Noten.
TICKS_PER_PIXEL = 10

# Transposition in Halbtönen
# Das Programm benutzt die Normen für Pianos: Note 1 = A2 bis Note 88 = c'''''
# Falls eine Datei die MIDI-Norm benutzt, ist offset=-20, im Falle der Organ-Norm ist offset=15 .
NOTE_OFFSET = -20

EXPORT_WIDTH = 1920
EXPORT_HEIGHT = 1080
EXPORT_FPS = 30